# Base de datos
DB_NAME=gestor_pdf
DB_USER=gestor_user
DB_PASSWORD=gestor_pass_123
DB_PORT=5432

# Aplicación
FLASK_ENV=production
SECRET_KEY=cambiar_esta_clave_en_produccion
ADMIN_EMAIL=admin@gestorpdf.com

# Puertos
APP_PORT=5050
NGINX_PORT=80
